
div.is-hidden {
    display: none;
}
div.is-visible {
    display: block;
}
body {
    text-align: center;
    user-select: none;
}
h1{
    padding: 10px;
    margin: auto;
    font-weight: bold;
    color: #6091d3;/*文字色*/
}
h2{
    padding: 26px;
    margin: auto;
}
p{
    padding: 10px;
    margin: auto;
    width: 300px;
    font-weight: bold;
    color: #6091d3;/*文字色*/
}
#start:hover{
    background: #6091d3;
    color: white;
    cursor: pointer;/*カーソルをポインターに変える*/
}
#start2:hover{
    background: #6091d3;
    color: white;
    cursor: pointer;/*カーソルをポインターに変える*/
}
#start3:hover{
    background: #6091d3;
    color: white;
    cursor: pointer;/*カーソルをポインターに変える*/
}
#start4:hover{
    background: #6091d3;
    color: white;
    cursor: pointer;/*カーソルをポインターに変える*/
}
#game{
    margin-right: auto;/* 中央寄せ */
    margin-left: auto;/* 中央寄せ */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    align-content:stretch;
    width: 400px;
}
#game.pointer-none{
    pointer-events: none;
}
.field {
    width:100px;
    height: 100px;
    padding: 0;
    margin: 0;
    color: #6091d3;/*文字色*/
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.field:hover {
    background: rgb(243, 236, 227);
    border: 2px solid #333;
    cursor: pointer;/*カーソルをポインターに変える*/
}
#top{
    height: 25%;
}
